h1 {
    font-weight: bold;
}

label {
    font-size: 20px;
}

.maindiv {

    height: 100vh;

    background: url("https://picsum.photos/seed/picsum/1200/600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.userdiv {

    margin-top: 20px;
    border: 1px black solid;
    padding: 20px;
    width: 50vh;
    border-radius: 8px;

}